<div class="forms">
	<%= form_for @vehicle, url: {action: "create"} do |f| %>
		<%= f.text_field :make, placeholder: "Make" %><br>
		<%= f.text_field :model, placeholder: "Model" %><br>
		<%= f.text_field :year, placeholder: "Year" %><br>
		<%= f.text_field :style, placeholder: "Style" %><br>
		<%= f.text_field :engine_size, placeholder: "Engine Size" %><br>
		<%= f.submit "Add Vehicle" %>
	<% end %>

	<%= flash[:error] if flash[:error] %>
</div>