<div class="fluid_form">
	<%= form_for @fluid_change, url: {action: "create"} do |f| %>
	<%= f.text_field :name, placeholder: "Name" %><br>
	<%= f.text_field :fluid_type, placeholder: "Fluid type" %><br>
	<%= f.text_field :weight, placeholder: "weight"%><br>
	<%= f.number_field :mileage, placeholder: "Mileage" %><br>
	<%= f.submit "Change it!" %>
	<% end %>
	<%= flash[:error] if flash[:error] %>
</div>